<header>
    <a href="" class="logo"><img src="../../../assets/img/ASSOCIACAO_PETROLINENSE_JUDO.png" alt=""></a>

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">MENU</label>

    <nav class="navbar">
        <ul>
            <li>
                <a href="">A ASPEJU +</a>
                <ul>
                    <li><a href="">Nossa História</a></li>
                    <li><a href="">Onde Estamos</a></li>
                    <li>
                        <a href="">Equipe +</a>
                        <ul>
                            <li><a href="">Diretoria Executiva</a></li>
                            <li><a href="">Comissão de Graus</a></li>
                        </ul>
                    </li>
                    <li><a href="">Parceiros</a></li>
                </ul>
            </li>
            <li>
                <a href="">Transparência</a>
                <ul>
                    <li><a href="">Blogs</a></li>
                </ul>
            </li>
            <li><a href="">Calendário</a></li>
            <li><a href="">Fale Conosco</a></li>
        </ul>
    </nav>
</header>
